@import url('https://fonts.googleapis.com/css?family=Agbalumo');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.logo {
    font-size: xx-large;
}

.logospan {
    color:aqua;
}

li, a {
    font-family: "Agbalumo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.NavLinks {
    list-style: none;
}

.NavLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.NavLinks li a{
    transition: all 0.3s ease 0;
}

.NavLinks li a:hover{
    color: aqua;
}

.SearchBar {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.Search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
}

.searchInput {
    font-size: 16px;
    color: #24252a;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}